# macOS noise
.DS_Store
profile

# AI configuration files
AGENTS.md

# Unix executables & debug symbols
build/unix/rnbench
build/unix/rnbench-dbg
build/unix/*.exe
build/unix/*.dSYM/*
build/unix/*.dSYM/*
